<div>
  <div style="height: 100px"/>
  <div align="center">
    <img src="../../assets/img/check.png" class="centerImage" alt="description" height="100" width="100"/>
    <div>
      <h4>Your order is completed.</h4>
    </div>

    <div>
      <p style="color:#da0847"><ins>ORDER DETAIL</ins></p>
      <p>Americano x 1</p>
    </div>
    
  </div>
  <div style="height: 50px"/>
  <div class="mdl-layout">
  <a href="#">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Complete
    </button>
  </a>
  </div>
</div>
