<div>
  <div style="height: 100px"/>
  <div align="center">
    <img src="../../assets/img/x-mark.png" class="centerImage" alt="description" height="100" width="100"/>
    <div>
      <h4>Sorry</h4>
      <h5>Your payment failed.</h5>
    </div>

    <div>
      <p><ins style="color:blue">Contact Us</ins> If you need help.</p>
    </div>
    
  </div>
  <div style="height: 50px"/>
  <div class="mdl-layout">
  <a href="#order">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Back
    </button>
  </a>
  </div>
</div>
